/* 카테고리별 추천 광고상품 */
h1, h2, h3 {
  margin: 0;
  font-size: 1em;
}

.logo {
  margin-top: 100px;
  margin-bottom: 48px;
}

.common-inner {
  margin: 0 auto;
  max-width: 1020px;
}

.best-section-title-area {
  width: 260px;
  height: 46px;
  
}

.hot {
  font-size: 16px;
  font-weight: 500;
  line-height: 18.4px;
}

.best-section-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 115%;
}

.best-section-title > span {
  color: var(--color-blue-600);
}


.daily-supplies-area {
  display: flex;
  margin-top: 24px;
}

.tag-area {
  width: 174px;
  height: 631px;
  background-color: lightblue;
}

.slider {
  width: 320px;
  height: 631px;
  background-color: lightcoral;
}

.slides {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 320px;
  height: 631px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indicator {
  position: relative;
  top: 507px;
  margin: 0 auto;
  width: 32px;
  height: 12px;
  display: flex;
  justify-content: space-between;
}

.indicator> a {
  width: 12px;
  height: 12px;
  position: relative;
  border-radius: 100%;
  background-color: var(--color-gray-600);
  z-index: 9999;
}

div > .image {
  object-fit: cover;
  position: absolute;
}

.slider-caption {
  position: relative;
  background-color: var(--color-brown-300);
  width: 260px;
  height: 90px;
  top: 483px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.slider-caption > span {
  text-align: center;
  color: white;
  line-height: 115%;
}
.slider-caption > .caption-text1 {
  font-size: 18px;
  font-weight: bold;
  width: 205px;
  height: 24px;
  margin: 19px auto 0;
}
.slider-caption > .caption-text2 {
  font-size: 14px;
  font-weight: regular;
  width: 215px;
  height: 19px;
  margin: 9px auto 0;
}

.product-list {
  width: 526px;
  background-color: lightcyan;
}

li {
  border: 1px solid red;
  margin: 10px;
  margin-left: -10px;
  padding: 10px;
}